# Compiled output
/target
/src/main/client/dist

# Dependencies
/src/main/client/node_modules

# Data
/postgres/data

# Environment
/.env.local
/src/main/resources/application-local.properties
/src/main/client/.env.local

# Configs
.idea
workflow.iml
